{% extends 'base.html' %}

{% block content %}
<h4>{% block title %} GW {{ gameweek }} ( {{ status }} ){% endblock %} - <a href="/stats">GW Stats</a> - <a href="/dream">Dream Team</a></h4>
<p class="" >
    Please note that this is <b>still under development</b> and might have some errors. 
    This gives you a decent understanding of your GW positon, but all final calculations will be<b> available in the excel sheet</b>. 
    <br>Bank Penalty (+25 points for >3.0 in the bank), C/VC not playing (+15 ), less than 11 inactive players(+9 per players), and GW Transfer Costs are added to your Total Points.
    You can sort by any column, or search for any criteria.
</p>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>#GW{{ gameweek - 1 }}</th>
            <th>Manager</th>
            <th>Value</th>
            <th>Transfers</th>
            <th>Chip</th>
            <th>Last GW</th>
            <th>Site Pts</th>
            {% if status == 'completed' %}
                <th>C/VC Pens</th>
                <th>Inactive Players</th>
            {% endif %}
            <th>GW Points (+Pens)</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for user in standings %}
        <tr>
            <td>
                {% if user['last_gw_rank'] != '' and user['rank'] < user['last_gw_rank'] %}
                <span style="color: green; margin: 0; padding: 0;">&#10506;</span>
                {% elif user['last_gw_rank'] != '' and user['rank'] > user['last_gw_rank'] %}
                <span style="color: red;"> &#10507;</span>
                {% endif %}
            
            </td>
            <td>{{ user['rank']  }}</td>
            <td> {{ user['last_gw_rank']  }}</td>
            <td><a target="_blank"
                    href="https://fantasy.premierleague.com/entry/{{ user['entry'] }}/event/{{ gameweek }}">
                    {{ user['player_name']  }}</a> <i style="color: darkgray;"> {{ user['entry_name'] }} </i></td>
            {% if user['itb'] > 3.0  %} 
                <td style="color:red">
            {% else %}
                <td>
            {% endif %}
            {{ user['sqaud_value']  }}/{{ user['itb'] }}
            </td>
            <td> {{ user['transfers']  }} (+{{ user['transfer_cost']  }})</td>
            <td> 
                {% if user['active_chip'] != None %}
                {{ user['active_chip']  }}
                {% endif %}
            </td>
            <td> {{ user['last_gw_points']  }}</td>
            <td> {{ user['event_total']  }}</td>
            {% if status == 'completed' %}
                <td>
                    {% if user['cap_penalty'] != 0 %}
                        +{{ user['cap_penalty'] }} 
                    {% endif %}
                </td>
                <td>
                    {% if user['inactive_players'] != 0 %}
                        {{ user['inactive_players'] }} ( +{{ user['inactive_players_pen'] }} )
                    {% endif %}
                </td>
            {% endif %}
            <td> {{ user['final_gw_points'] }}</td>
            <td> {{ user['total_points'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="breakplayers"></div>
<hr>
<div class="breakplayers"></div>
{% endblock %}